<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ytd.framework">


    <!-- 网络相关权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--在SDCard中创建与删除文件权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--往SDCard写入数据权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--从SDCard读取数据权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--读取设备信息权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--获取WIFI权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--获取手机任务信息（进程,app列表）-->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="com.ytd.framework.main.ui.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- —————————————————————————————————— 准备工作  —————————————————————————————————————— -->
        <activity
            android:name="com.ytd.framework.main.ui.activity.SplashActivity_"
            android:largeHeap="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.ytd.framework.main.ui.activity.GuideActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ytd.framework.main.ui.activity.HomeActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main.ui.activity.LoginActivity_"
            android:screenOrientation="portrait"/>

        <!-- 当前应用分辨率参考标准 -->
        <meta-data
            android:name="design_width"
            android:value="1080"/>
        <meta-data
            android:name="design_height"
            android:value="1920"/>

        <service android:name="com.ytd.framework.main.ui.service.CheckAppUpdateService"/><!--检查app 升级服务-->
        <service android:name="com.ytd.framework.main.ui.service.AppDownloadService"/><!--下载app servce-->
        <activity
            android:name="com.ytd.framework.main.ui.activity.AppServiceActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppUpdateDialogStyle"/>

        <receiver android:name="com.ytd.framework.main.ui.service.AppUpdateBroadcastReceiver">
            <intent-filter>
                <action android:name="android.com.tanlifei.framework.broadcastreceiver.action.APPUPDATEACTION"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </receiver>


        <!-- —————————————————————————————————— Photo  —————————————————————————————————————— -->

        <activity
            android:name="com.ytd.common.ui.activity.photoview.BaseBrowsePhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ytd.common.ui.activity.photoview.BaseDeletePhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".equipment.ui.activity.PropertyActivity_"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".equipment.ui.activity.EquipmentActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".equipment.ui.activity.EquipmentDetailsActivity_"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".equipment.ui.activity.EquipmentScanResultActivity_"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".equipment.ui.activity.PropertySearchActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".equipment.ui.activity.PropertyDetailsActivity_"
            android:screenOrientation="portrait"/>


        <!-- —————————————————————————————————— 测试示范 ———————————————————————————————————— -->

        <activity android:name="com.ytd.demo.eventbus.DemoEventBusOneActivity"/>
        <activity android:name="com.ytd.demo.eventbus.DemoEventBusTwoActivity"/>
        <activity android:name="com.ytd.demo.eventbus.DemoEventBusThreeActivity"/>

    </application>

</manifest>
